## Pandas- DataFrame and Series
- Tool for Data Manipulation
- Used for data analysis and cleaning. 

- Data structure -> Series and dataframe
- Series -> 1-Dimensional array. 
- DataFrame -> Two dimentation, size-mutable with row and columns

In [1]:
import pandas as pd

In [4]:
# series -> one-dimensional array like object. 
data = [1,2,3,4,5,6]
series = pd.Series(data)
print("series : \n", series)
print("type: ",type(series))

series :
 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
type:  <class 'pandas.core.series.Series'>

In [6]:
# series with dictionaries 
dic = {'a' : 1, 'b' : 2, 'c' : 3}
dic_ser = pd.Series(dic)
print("series : \n", dic_ser)

series :
 a    1
b    2
c    3
dtype: int64

In [9]:
# series with custom indexes
data  = [1,2,3]
index  = ["m","n","o"]

pd.Series(data, index = index)

m    1
n    2
o    3
dtype: int64

In [13]:
# DataFrame with dictionary
data = {
    "name" : ["shubh", "aman", "niteesh"],
    "age" : [20, 30, 40],
    "city" : ["mumbai", "up", "ap"]
}

df = pd.DataFrame(data)
print(df)
print(type(df))


dataframe = [
    {'name' : 'shubh', 'age'  : 24, 'city' : 'mumbai'},
    {'name' : 'niteesh', 'age'  : 20, 'city' : 'ap'},
    {'name' : 'aman', 'age'  : 24, 'city' : 'up'},
    {'name' : 'naveen', 'age'  : 24, 'city' : 'hyderabad'},
]
df = pd.DataFrame(dataframe)
print(df)
print(type(df))

      name  age    city
0    shubh   20  mumbai
1     aman   30      up
2  niteesh   40      ap
<class 'pandas.core.frame.DataFrame'>
      name  age       city
0    shubh   24     mumbai
1  niteesh   20         ap
2     aman   24         up
3   naveen   24  hyderabad
<class 'pandas.core.frame.DataFrame'>

In [20]:
print(df.loc[0]) # row operation

print(df.iloc[0][0]) # column operation

name     shubh
age         24
city    mumbai
Name: 0, dtype: object
shubh

/var/folders/tp/vy0rk_tj2fg2rhkts3qkxrq00000gp/T/ipykernel_99714/712779438.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][0]) # column operation

In [31]:
# Data manipulation with dataframe
df

# 1. adding new column
df['Salary'] = [10000, 40000, 80000, 50000]
df

# remove the column
df.drop("Salary", axis=1, inplace = True)
df

# increasing the age
df['age']+2
df

      name  age       city
0    shubh   24     mumbai
1  niteesh   20         ap
2     aman   24         up
3   naveen   24  hyderabad